<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template4"
      >


<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
<div layout:fragment="content1" style="padding: -10rem !important; padding-top: -10rem !important; padding-right: -10rem !important; padding-left: -10rem !important;">
    <div style="width: 100%; height: 800px; overflow: hidden; position: relative;">
        <img src="http://localhost:8085/uploads/home.png" alt="Home Cover" style="width: 100%; height: 100%; object-fit: cover;"  />
    </div>

</div>
</body>
</html>