<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template4">
<head>
  <meta charset="UTF-8">
  <title>Consult subject</title>
</head>
<body>
<div layout:fragment="content1">

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="https://upload.wikimedia.org/wikipedia/commons/4/40/OOjs_UI_icon_speechBubbles-ltr.svg"><span class="font-weight-bold"><label th:text="${subject.nom}"></label></span><span class="text-black-50"><label th:text="${subject.description}"></label></span><span> </span></div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Consult subject's information</h4>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">ID : </label>
              <label th:text="${subject.id}"></label>
            </div>
            <div class="col-md-12"><label class="labels">Name : </label>
              <label th:text="${subject.nom}"></label>
            </div>
            <div class="col-md-12"><label class="labels">Description : </label>
              <label th:text="${subject.description}"></label>
            </div>
          </div>

          <div class="mt-5 text-center">
            <a class="btn btn-outline-primary" th:href="@{/user/subjects(id=${subject.id}, keyword=${keyword}, page=${page})}">
              <i class="fas fa-arrow-alt-circle-left"></i>
            </a>
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-outline-warning"
               th:href="@{/admin/editSubject(id=${subject.id})}"><i
                    class="fas fa-user-edit"></i></a>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center experience">
            <span>Chapters</span>
          </div>
          <br>
          <div class="col-md-12">
            <label class="labels">Available Chapters</label>
            <ul>
              <!-- Loop through the list of chapters dynamically using Thymeleaf -->
              <li th:each="chapter : ${subject.chapters}">
                <!-- Create a link to the chapter's PDF file -->

                <a th:href="@{/uploads/{chapter}(chapter=${chapter})}" target="_blank">
                  <i class="fa fa-file-pdf-o"></i> <span th:text="${chapter}">Chapter Name</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</div>
</body>
</html>